/* Style rules for the header */

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center; 
    background-image: url('../images/pattern.jpg');
}

/* Style rules for the Brush content */
#brushes {
    background-color: mediumspringgreen;
    color: white;
}

/* Style rules for the Frames content */
#frames {
    background-color: lightcoral;
    color: white;
}

/* Style rules for the paint content */
#paint {
    background-color: skyblue;
    color: white;
}

/* Sub header style rule */
h2 {
    font-family: Helvectica;
    font-size: 32px;
    font-weight: bold;
}

/* Style for the  price */
.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
